@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  touch-action: none;
}

html {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: "Work Sans", sans-serif;
  }
  
  .box {
    height: 100vh;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    /* visibility: hidden; */
    position: relative;
    overflow: hidden;
  }
  
  .box div.six {
    top: 10vh;
    z-index: 1;
  }
  
  .box > div {
    position: absolute;
    left: 0;
    right: 0;

  }

  /* .six {
    position: relative;
  }
   */

  .six img {
    display: inline-block;
    max-width: 100%;
    height: auto;
  }
  
  .six .hat {
    position: absolute;
    width: 80px;
    top: -35px;
    left: 41.5%;
  }
  
  .baloons img {
    display: inline-block;
    position: absolute;
  }
  
  .baloons img:nth-child(even) {
    left: -10%;
  }
  
  .baloons img:nth-child(odd) {
    right: -8%;
  }
  
  .baloons img:nth-child(3n + 0) {
    left: 30%;
  }

  .baloons > img {
    width: 400px;
  }
  
  .wish-hbd {
    font-size: 3em;
    margin: 0;
    text-transform: uppercase;
  }
  
  .wish h5 {
    font-weight: lighter;
    font-size: 2rem;
    margin: 10px 0 0;
  }
 
  /* Media Queries */
  @media screen and (max-height: 1000px) {
    .six .hat {
      left: 40%;
    }
  }
  
  @media screen and (max-height: 800px) {
    .six .hat {
      left: 37%;
    }
  }
  
  @media screen and (max-height: 700px) {
    .six .hat {
      left: 32%;
    }
  }
  
  @media screen and (max-height: 850px) and (max-width: 450px) {
    .six .hat {
      left: 32%;
    }
  }
  

  @media screen and (max-width: 768px) {
    .baloons img {
      width: 100px; 
      height: auto; 
    }

    .baloons img:nth-child(even) {
      left: -5%;
    }

    .baloons img:nth-child(odd) {
      right: -5%;
    }

    .baloons img:nth-child(3n + 0) {
      left: 15%;
    }
  }
  
  @media screen and (max-width: 500px) {
    .box {
      width: 90%;
    }

    .four .text-box {
      width: 90%;
    }
  
    .text-box .fake-btn {
      right: 5px;
      bottom: -38px;
    }
  
    .idea-5 span {
      display: block;
    }
  
    .idea-6 span {
      font-size: 10rem;
    }
  
    .six .hat {
      width: 50px;
      top: -20px;
    }
  
    .wish-hbd {
      font-size: 2.2em;
    }
  
    .wish h5 {
      font-size: 1.4rem;
    }
  
    .nine p {
      font-size: 1.5rem;
      font-weight: lighter;
    }
  }




  /* /////////// gradient button  ///////////////////*/

  .btn-grad {
    padding:6px 16px;
    box-shadow: 0px 0px 3px 2px white ;
    border-radius: 4px;
    transition: all .3s ease-in-out;
  }

  .btn-grad:hover,
  .btn-grad:active {
    box-shadow: 0px 0px 6px 2px white;
    background-color: #70c0f5;
  }

  /* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 8px; 
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 4px; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
